In [7]:
import requests
import pandas as pd

# https://stackoverflow.com/questions/25338608/download-all-stock-symbol-list-of-a-market
# https://www.nasdaq.com/market-activity/stocks/screener?exchange=NASDAQ&render=download
nasdaq_csv = 'Downloads/nasdaq_screener_1634070837386.csv'
# https://www.nasdaq.com/market-activity/stocks/screener?exchange=NYSE&render=download
nyse_csv = 'Downloads/nasdaq_screener_1634070798515.csv'

nasdaq_df = pd.read_csv(nasdaq_csv)
nyse_df = pd.read_csv(nyse_csv)

print(len(nasdaq_df))
nasdaq_df.head()

4566

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,AACG,ATA Creativity Global American Depositary Shares,$2.39,0.0500,2.137%,7.576584e+07,China,NaN,331389,Miscellaneous,Service to the Health Industry
1,AACIU,Armada Acquisition Corp. I Unit,$9.95,0.0066,0.066%,0.000000e+00,United States,2021.0,1002,NaN,NaN
2,AADI,Aadi Bioscience Inc. Common Stock,$27.28,0.3300,1.224%,5.693156e+08,United States,NaN,55164,Health Care,Biotechnology: Pharmaceutical Preparations
3,AAL,American Airlines Group Inc. Common Stock,$20.29,0.1600,0.795%,1.313692e+10,United States,NaN,18310460,Transportation,Air Freight/Delivery Services
4,AAME,Atlantic American Corporation Common Stock,$4.38,-0.1200,-2.667%,8.939914e+07,United States,NaN,13171,Finance,Life Insurance

In [8]:
print(len(nyse_df))
nyse_df.head()

3143

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$147.95,-2.07,-1.38%,4.478782e+10,United States,1999.0,1672047,Capital Goods,Electrical Products
1,AA,Alcoa Corporation Common Stock,$47.78,0.49,1.036%,8.928465e+09,NaN,2016.0,6821283,Basic Industries,Metal Fabrications
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.77,-0.01,-0.102%,1.221250e+09,NaN,2021.0,320598,Finance,Business Services
3,AAIC,Arlington Asset Investment Corp Class A (new),$3.88,0.03,0.779%,1.254445e+08,United States,NaN,171259,Consumer Services,Real Estate Investment Trusts
4,AAIC^B,Arlington Asset Investment Corp 7.00%,$24.85,0.02,0.081%,NaN,United States,NaN,550,NaN,NaN

In [35]:
all_stocks_df = nyse_df.append(nasdaq_df)
all_stocks_df.reset_index(inplace=True, drop=True)
print('Rows in nyse_df + Rows in nasdaq_df:', len(nyse_df) + len(nasdaq_df))
print('Rows in concatenated df:', len(all_stocks_df))
all_stocks_df.head()

Rows in nyse_df + Rows in nasdaq_df: 7709
Rows in concatenated df: 7709

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$147.95,-2.07,-1.38%,4.478782e+10,United States,1999.0,1672047,Capital Goods,Electrical Products
1,AA,Alcoa Corporation Common Stock,$47.78,0.49,1.036%,8.928465e+09,NaN,2016.0,6821283,Basic Industries,Metal Fabrications
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.77,-0.01,-0.102%,1.221250e+09,NaN,2021.0,320598,Finance,Business Services
3,AAIC,Arlington Asset Investment Corp Class A (new),$3.88,0.03,0.779%,1.254445e+08,United States,NaN,171259,Consumer Services,Real Estate Investment Trusts
4,AAIC^B,Arlington Asset Investment Corp 7.00%,$24.85,0.02,0.081%,NaN,United States,NaN,550,NaN,NaN

In [ ]:
def read_concat_csvs(csv1, csv2):
    '''Enter two csvs and the function will concatenate them into a single pandas DataFrame.'''
    df1 = pd.read_csv(csv1)
    df2 = pd.read_csv(csv2)
    all_df = df1.append(df2)
    all_df.reset_index(inplace=True, drop=True)
    return all_df

In [16]:
!pip install pandas pyarrow

data = [pd.read_parquet(f'wallstreetbets_comments_{i}.parquet.gzip') for i in range(1, 7)]
single_df = pd.concat(data)
single_df.columns = ['Comment', 'Timestamp', 'Link']
single_df.head()

Requirement already satisfied: pandas in c:\users\desha\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pyarrow in c:\users\desha\anaconda3\lib\site-packages (5.0.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\desha\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\desha\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\desha\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\desha\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

,Comment,Timestamp,Link
0,[removed],1601670780,/r/wallstreetbets/comments/j41xw2/weekend_disc...
1,Honestly the best part of the week. üëä üçª,1601670780,/r/wallstreetbets/comments/j41xw2/weekend_disc...
2,Haha,1601670780,/r/wallstreetbets/comments/j3l89d/loss_porn_ba...
3,Origin goes back to at least the 50s. The song...,1601670776,/r/wallstreetbets/comments/j3wgdt/built_differ...
4,‚ÄúWell I really loved art history.... but then ...,1601670774,/r/wallstreetbets/comments/j3z9hc/40583_in_6_m...

In [17]:
len(single_df)

5207419

In [30]:
import datetime as dt

single_df['Time'] = [dt.datetime.fromtimestamp(t).strftime('%Y-%m-%d %H:%M:%S') for t in single_df['Timestamp']]
single_df.head()

,Comment,Timestamp,Link,Time
0,[removed],1601670780,/r/wallstreetbets/comments/j41xw2/weekend_disc...,2020-10-02 16:33:00
1,Honestly the best part of the week. üëä üçª,1601670780,/r/wallstreetbets/comments/j41xw2/weekend_disc...,2020-10-02 16:33:00
2,Haha,1601670780,/r/wallstreetbets/comments/j3l89d/loss_porn_ba...,2020-10-02 16:33:00
3,Origin goes back to at least the 50s. The song...,1601670776,/r/wallstreetbets/comments/j3wgdt/built_differ...,2020-10-02 16:32:56
4,‚ÄúWell I really loved art history.... but then ...,1601670774,/r/wallstreetbets/comments/j3z9hc/40583_in_6_m...,2020-10-02 16:32:54

In [32]:
print('Earliest time:', single_df['Time'].min())
print('Latest time:', single_df['Time'].max())

Earliest time: 2020-09-09 21:13:48
Latest time: 2021-09-09 21:03:00

In [45]:
some_well_known_stocks = ['MSFT', 'msft', '\\$MSFT', 'TSLA', 'tsla', '\\$TSLA', 'JNJ', 'jnj', '\\$JNJ', '\\$T']
print([{ticker : single_df['Comment'].str.count(ticker).sum()} for ticker in some_well_known_stocks])

[{'MSFT': 5106}, {'msft': 1099}, {'\\$MSFT': 196}, {'TSLA': 42455}, {'tsla': 7342}, {'\\$TSLA': 1733}, {'JNJ': 601}, {'jnj': 75}, {'\\$JNJ': 24}, {'\\$T': 3808}]

In [ ]:
def df_parquet_reader():
    '''Uses 6 zipped parquet files in the format 'wallstreetbets_comments_{i}.parquet.gzip' that are located in your
    current directory. Returns them as a concatenated dataframe.  You must pip install pandas pyarrow.'''
    data = [pd.read_parquet(f'wallstreetbets_comments_{i}.parquet.gzip') for i in range(1, 7)]
    single_df = pd.concat(data)
    return single_df

def single_df_fixer(df):
    '''Cleans up the project's main DataFrame. Must pip install datetime as dt.'''
    df.columns = ['Comment', 'Timestamp', 'Link']
    df['Time'] = [dt.datetime.fromtimestamp(t).strftime('%Y-%m-%d %H:%M:%S') for t in single_df['Timestamp']]
    return df